@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, p,img {
	max-width: 1920px
} center,  ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section,

/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, 
header, hgroup, menu, nav, section { display: block; } 

#container {
	width: 1920px;
	height: 921px;
	float: left; /*see below for description of float*/
	background: #FFFFFF; 
	}
#bluepagetitle {
	width: 572px;
	height: 194px;
	float: left;
	background: #B0DFF4;
	padding-left: 50px;
	outline-color: black;
	outline-width: 5px;
	}

#header {
	width: 1298px;
	height: 194px;
	float: right;
	background: #AAD5E8;
	outline-width: 100px;
    outline-width: 5px; 
}

#picturebox {
	width: 621.71px;
	height: 765px;
    float: left;
    background: #AAD5E8;
    outline-color: black;
    outline-width: 5px; 
	}

#picturealignment {
		margin-left: 160px;
		margin-top: 30px;
	}

#paragraphbox {
	width: 1098px;
	height: 565px;
	float: left;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left:100px;
	padding-right: 100px;
	outline-color: black; 
	background: white;
	}

	h1 	{
	color: white;
    font-family: times;
    font-size: 100px;
	font-style: italic
	; }

	h2 {
	color: white;
	font-family: times;
	font-size: 55px;
	}

	p {
		color: black;
		font-family: times;
		font-size: 25px;
	}

	a {
 	color: white;
  	text-decoration: none;
	}

	a:hover {
  	color: #B0DFF4;
	}
	