@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, p,img {
	max-width: 1920px
} center,  ol, ul, li,  embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section,

/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure,  footer, 
header, hgroup, menu, nav, section { display: block; } 

#container {
	width: 1920;
	height: 1080;
	}

#imagecollumn {
	width: 60%;
	height: 100%;
	background: #FFFFD0;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

#textcollumn {
	width: 1000px;
	height: 200px;
	float: left;
	left: 450px;
	top:400px;
	position: absolute;
}


h1 {
		color: black;
		font-family: times;
		font-size: 60px;
		text-align: center;
		text-decoration-style: : capitalize;
}

h2 {
	color: red;
	font-family: times;
	font-size: 150px;
	text-align: center;
	margin-top: 20%;
}


a{
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}
